@import '../utils/typography';

.newsItem {
  margin-top: 2em;
  margin-bottom: 2em;
}

.newsItemLink {
  color: inherit;

  &:focus,
  &:hover {
    text-decoration: none;
  }
}

.date {
  @include font(display);

  font-style: italic;
  text-align: right;
}
