@import '../utils/breakpoints';
@import '../utils/flexbox';

.organizationsContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  @include gap(2em);

  @include media-breakpoint-up(sm) {
    flex-direction: row;
  }

  > * {
    min-width: 256px;
  }
}

.sponsorLink {
  color: inherit;

  &:focus,
  &:hover {
    text-decoration: none;
  }
}

.sponsorLogoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

.sponsorLogoImage {
  max-width: 100%;
}

.sponsorName {
  text-align: center;
}
