@import '../utils/flexbox';

.organizationsContainer {
  display: flex;
  flex-wrap: wrap;

  @include gap(2em);
}

.sponsorLink {
  color: inherit;

  &:focus,
  &:hover {
    text-decoration: none;
  }
}

.sponsorLogoContainer {
  display: flex;
  height: 16em;
  align-items: center;
  justify-content: center;
  background: white;
}

.sponsorLogoImage {
  max-width: 100%;
}

.sponsorName {
  text-align: center;
}
