@import '../utils/colors';

$media-aspect-ratio: 21 / 9;

.root {
  overflow: hidden;
  background: $color-primary;
  border-radius: 0.25em;

  h1 {
    font-size: 1.5em;
  }
}

.rootGradient {
  background: linear-gradient($color-primary, darken($color-primary, 20%));
}

.media {
  height: 0;
  padding-top: #{100% / $media-aspect-ratio};
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
