@import '../utils/colors';

.root {
  overflow: hidden;
  background: $color-primary;
  border-radius: 0.25em;

  h1 {
    margin: 0.25em 0;
    font-size: 1.5em;
  }
}

.media > * {
  width: 100%;
}
