@import '../utils/breakpoints';
@import '../utils/flexbox';

.peopleContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  @include gap(1em);

  @include media-breakpoint-up(sm) {
    flex-direction: row;

    @include gap(1.5em 4em);
  }
}

.personContainer {
  flex: 1;
}

.personImage {
  display: block;
  width: 10em;
  height: 10em;
  margin: 0 auto;
}

.personName,
.personRole {
  text-align: center;
}
