@import '../utils/breakpoints';
@import '../utils/flexbox';
@import '../utils/typography';

.newsContainer {
  display: flex;
  flex-direction: column;

  @include gap(2em);

  @include media-breakpoint-up(md) {
    flex-direction: row;
  }
}

.newsItemLink {
  color: inherit;

  &:focus,
  &:hover {
    text-decoration: none;
  }
}

.newsItemCard {
  min-height: 100%;
}

.newsItemCardImage {
  height: 16em;
}

.date {
  @include font(display);

  font-style: italic;
  text-align: right;
}
