$fonts: (
  display: (
    font-family: unquote("'Rajdhani', sans-serif"),
  ),
  body: (
    font-family: unquote("'Raleway', sans-serif"),
  ),
);

$measureMaxWidth: 40em;

@mixin font($type) {
  @each $key, $value in map-get($fonts, $type) {
    #{$key}: #{$value};
  }
}
