@import url('https://fonts.googleapis.com/css?family=Rajdhani');

@font-face {
  font-family: 'BankGothic';
  src: url('bgothm.ttf')  format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rajdhani;
    color: white;
    text-decoration-color: #c8102e;
}

h1 {
	font-family: BankGothic;
	text-decoration: none;
}