@import url('https://fonts.googleapis.com/css?family=Roboto|Sarpanch');

* {
    box-sizing: border-box;
    font-family: Roboto;
}

html {
    height: 100%;
}

h1 {
	font-family: Sarpanch;
	text-decoration: none;
	background: linear-gradient(to right, #C8102E , #151515);
	padding: 10px;
}

body {
    background-color: #151515;
    padding: 20px;
    margin: 0px;
}

a {
	color: white;

}